  <h1>Name: <%= @team.name %></h1>
  <h3>Motto: <%= @team.motto %></h3>
</div>

<h1>Superheroes</h1>
<% @super_heroes.each do |superhero| %>
<div class="superhero">
  <p>Name: <%= superhero.name %></p><br>
  <p>Power: <%= superhero.power %></p><br>
  <p>Biography: <%= superhero.bio %></p>
</div>
<% end %>
