<h1>Teams</h1>
<div class="team">
  <h3>Name: <%= @team.name %></h3>
  <h3>Motto: <%= @team.motto %></h3>
</div>

<h1>Superheroes</h1>
<% @superheroes.each do |superhero| %>
<div class="superhero">
  <p>Name: <%= superhero.name %></p><br>
  <p>Power: <%= superhero.power %></p><br>
  <p>Bio: <%= superhero.bio %></p>
</div>
<% end %>